.player{
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 16px;
    background-color: orange;
    width: 200px;

    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        border-radius: 50%;
    }
}